.footer
    .container
        section#contact
            .container
                .row
                    .col-lg-8.col-lg-offset-2.text-center
                        h2.section-heading Let's Get In Touch!
                        |                     
                        hr.primary
                        |                     
                        p
                            | Do you need someting to help? then Let's Get In Touch!
                    |                 
                    .col-lg-4.col-lg-offset-2.text-center
                        i.fa.fa-phone.fa-3x.sr-contact
                        |                     
                        p 010-5258-1828
                    |                 
                    .col-lg-4.text-center
                        i.fa.fa-envelope-o.fa-3x.sr-contact
                        |                     
                        p
                            a(href='mailto:your-email@your-domain.com') yhyh0614@gmail.net
