nav#mainNav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
        .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation
                |  Menu 
                i.fa.fa-bars
            |   
            a.navbar-brand(href='/') 
                i.fa.fa-home             
            a.navbar-brand(href='/') HunBnB
            
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
                if(currentUser)    
                    li
                        a(href='/users/#{currentUser._id}') 프로필           
                    
                    |                     
                    li
                        a(href='/signout') 로그아웃
                    |                        
                    li
                        a(href='/host/#{currentUser._id}/management') 관리

                    if(currentUser.root)
                        li
                            a(href='/users/root') 사용자 목록
                        
                else
                    li
                        a(href='/users/new') 회원가입 
                    |   
                    li
                        a(href='/signin') 로그인

          
          
