extends layout
block main
    if(currentUser)
        link(href="/stylesheets/creative.min.css" rel="stylesheet")
        header
            .header-content
                .header-content-inner
                    h1#homeHeading Take a new trip with HunBnB
                    |                 
                    hr
                    |                 
                    p
                        | Start your's new trip and enjoy your life
                    |                 
                    a.btn.btn-primary.btn-xl.page-scroll(href='/host/#{currentUser._id}/index') Let's Hosting
        |     
        section#about.bg-primary
            .container
                .row
                    .col-lg-8.col-lg-offset-2.text-center
                        h2.section-heading Enjoy my one's trip
                        |                     
                        hr.light
                        |                     
                        p.text-faded
                            | Start HunBnB has everything you need to get your new trip and hosting your room 

        
        section#portfolio
            .container
                .row
                    .col-lg-12.text-center
                        h2 Hosting List
                        |                     
                        hr.star-primary
                |             
                .row
                    each host in hosts
                        .col-sm-4.portfolio-item
                            a.portfolio-link(href='/host/#{host.id}/detail', data-toggle='modal')
                                .caption
                                    .caption-content
                                        i.fa.fa-search-plus.fa-3x
                                |                         
                                img.img-responsive(src='#{host.picturePath}', alt = 'picture')           

    else
        link(href="/stylesheets/creative.min.css" rel="stylesheet")
        header
            .header-content
                .header-content-inner
                    h1#homeHeading Take a new trip with HunBnB
                    |                 
                    hr
                    |                 
                    p
                        | Start your's new trip and enjoy your life
        |     
        section#about.bg-primary
            .container
                .row
                    .col-lg-8.col-lg-offset-2.text-center
                        h2.section-heading Enjoy my one's trip
                        |                     
                        hr.light
                        |                     
                        p.text-faded
                            | Start HunBnB has everything you need to get your new trip and hosting your room 


