extends ../layout 


block main 
  .container
    .row#row
    h1.pageTitle 자신의 숙소를 등록해보세요
    form(action = '/host/#{user.id}/update', method='POST', enctype = 'multipart/form-data')
      p
        .row
          .col-sm-8
            .form-group
              label(for = 'title') 제목
              input.form-control(type = 'text', name = 'title', id = 'title', placeholder = 'Title here')
              label(for = 'file') 첨부 할 사진
              input.form-control(type = 'file', id = 'file', name = 'file')
              label(for = 'content') 설명
              input.form-control(type = 'text', rows = '20', name = 'content', id = 'content', placeholder = 'Content here')
              label(for = 'rule') 규칙
              input.form-control(type = 'text', rows = '10', name = 'rule', id = 'rule', placeholder = 'Rule here')
              label(for = 'cost') 요금
              input.form-control(type = 'text', name = 'cost', id = 'cost', placeholder = 'Cost here')
              label(for = 'market') 편의시설
              input(type = 'checkbox', name = 'market', value ='냉장고')
              | 냉장고
              input(type = 'checkbox', name = 'market', value ='드라이기')
              | 드라이기
              input(type = 'checkbox', name = 'market', value ='에어컨')
              | 에어컨
              input(type = 'checkbox', name = 'market', value ='밥솥')
              | 밥솥
              input(type = 'checkbox', name = 'market', value ='히터')
              | 히터

    
       .row
        .col-sm-8
          label(for ='address') 주소     
          input#sample3_postcode(name ='addressnumber', type='text', placeholder='우편번호')
          |  -
          input(type='button', onclick='sample3_execDaumPostcode()', value='우편번호 찾기')
          br
          #wrap(style='display:none;border:1px solid;width:500px;height:300px;margin:5px 0;position:relative')
              img#btnFoldWrap(src='//i1.daumcdn.net/localimg/localimages/07/postcode/320/close.png', style='cursor:pointer;position:absolute;right:0px;top:-1px;z-index:1', onclick='foldDaumPostcode()', alt='접기 버튼')
          input.form-control.d_form.large(name = 'address', type='text', id='sample3_address', placeholder='주소')
          script(src='https://spi.maps.daum.net/imap/map_js_init/postcode.v2.js')
          script.
              // 우편번호 찾기 찾기 화면을 넣을 element
              var element_wrap = document.getElementById('wrap');
              function foldDaumPostcode() {
              // iframe을 넣은 element를 안보이게 한다.
              element_wrap.style.display = 'none';
              }
              function sample3_execDaumPostcode() {
              // 현재 scroll 위치를 저장해놓는다.
              var currentScroll = Math.max(document.body.scrollTop, document.documentElement.scrollTop);
              new daum.Postcode({
              oncomplete: function(data) {
              // 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
              // 각 주소의 노출 규칙에 따라 주소를 조합한다.
              // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
              var fullAddr = data.address; // 최종 주소 변수
              var extraAddr = ''; // 조합형 주소 변수
              // 기본 주소가 도로명 타입일때 조합한다.
              if(data.addressType === 'R'){
              //법정동명이 있을 경우 추가한다.
              if(data.bname !== ''){
              extraAddr += data.bname;
              }
              // 건물명이 있을 경우 추가한다.
              if(data.buildingName !== ''){
              extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
              }
              // 조합형주소의 유무에 따라 양쪽에 괄호를 추가하여 최종 주소를 만든다.
              fullAddr += (extraAddr !== '' ? ' ('+ extraAddr +')' : '');
              }
              // 우편번호와 주소 정보를 해당 필드에 넣는다.
              document.getElementById('sample3_postcode').value = data.zonecode; //5자리 새우편번호 사용
              document.getElementById('sample3_address').value = fullAddr;
              // iframe을 넣은 element를 안보이게 한다.
              // (autoClose:false 기능을 이용한다면, 아래 코드를 제거해야 화면에서 사라지지 않는다.)
              element_wrap.style.display = 'none';
              // 우편번호 찾기 화면이 보이기 이전으로 scroll 위치를 되돌린다.
              document.body.scrollTop = currentScroll;
              },
              // 우편번호 찾기 화면 크기가 조정되었을때 실행할 코드를 작성하는 부분. iframe을 넣은 element의 높이값을 조정한다.
              onresize : function(size) {
              element_wrap.style.height = size.height+'px';
              },
              width : '100%',
              height : '100%'
              }).embed(element_wrap);
              // iframe을 넣은 element를 보이게 한다.
              element_wrap.style.display = 'block';
              }

      p
        .row
          .col-sm-8
            label(for = 'city') 도시
              select.form-control(name='city')
                option(selected value='서울') 서울
                option(value='용인') 용인
                option(value='대구') 대구
                option(value='대전') 대전
                option(value='인천') 인천
                option(value='부산') 부산
                option(value='울산') 울산
                option(value='원주') 원주
                option(value='광주') 광주
                option(value='제주도') 제주도
                option(value='울릉도') 울릉도 
      p
        .row
          .col-sm-8
            label(for = 'count') 최대 숙박 인원
              select.form-control(name='count')
                option(selected value='1') 1
                option(value='2') 2
                option(value='3') 3
                option(value='4') 4
                option(value='5') 5
                option(value='6') 6
                option(value='7') 7
                option(value='8') 8
                option(value='9') 9
                option(value='10') 10
                option(value='11') 11
                option(value='12') 12    
      p
        .row
          .col-md-5
              .form-group
                  #datetimepicker6.input-group.date
                      input.form-control(type='text', id = "datetimepicker6", name = 'startdate')
                      |                 
                      span.input-group-addon
                          span.glyphicon.glyphicon-calendar
          |     
          .col-md-5
              .form-group
                  #datetimepicker7.input-group.date
                      input.form-control(type='text',id = 'datetimepicker7', name = 'deaddate')
                      |                 
                      span.input-group-addon
                          span.glyphicon.glyphicon-calendar
        
          script(type='text/javascript').
              $(function () {
              $('#datetimepicker6').datetimepicker();
              $('#datetimepicker7').datetimepicker({
              useCurrent: false //Important! See issue #1075
              });
              $("#datetimepicker6").on("dp.change", function (e) {
              $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
              });
              $("#datetimepicker7").on("dp.change", function (e) {
              $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
              });
              });

      p
        .row
          div.form-actions
          button.btn.btn-primary(type='submit') 완료


 
    

    


