block main
    link(href="/stylesheets/style.css" rel="stylesheet")
    .row#size
    h3 예약
    form(action = '/host/#{host.id}/check', method = 'post')
        label(for = 'startdate') 체크인
            p
                .form-group
                    #datetimepicker6.input-group.date
                        input.form-control(type='text', id = "datetimepicker6", name = 'startdate')
                        |                 
                        span.input-group-addon
                            span.glyphicon.glyphicon-calendar
    
        label(for = 'deaddate') 체크 아웃  
            p
                .form-group
                        #datetimepicker7.input-group.date
                            input.form-control(type='text',id = 'datetimepicker7', name = 'deaddate')
                            |                 
                            span.input-group-addon
                                span.glyphicon.glyphicon-calendar
        
            script(type='text/javascript').
                $(function () {
                $('#datetimepicker6').datetimepicker();
                $('#datetimepicker7').datetimepicker({
                useCurrent: false //Important! See issue #1075
                });
                $("#datetimepicker6").on("dp.change", function (e) {
                $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
                });
                $("#datetimepicker7").on("dp.change", function (e) {
                $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
                });
                });
        label(for = 'count') 숙박 인원    
            p      
                    select.form-control(name='count')
                        option(value='1', selected) 1
                        option(value='2') 2
                        option(value='3') 3
                        option(value='4') 4
                        option(value='5') 5
                        option(value='6') 6
                        option(value='7') 7
                        option(value='8') 8
                        option(value='9') 9
                        option(value='10') 10
                        option(value='11') 11
                        option(value='12') 12


            p
                button.btn.btn-primary.btn-large.btn-block(type='submit') 예약 요청

            p
                a.btn.btn-primary(data-toggle='collapse', href='#collapseExample2', aria-expanded='false', aria-controls='collapseExample2')
                    | 자세히보기
                #collapseExample2.collapse
                    .well
                        p
                            span= '청소비 : ₩' + parseInt(host.cost)*0.1
                        p
                            span= '보증금 : ₩' + parseInt(host.cost)*0.2
                        p
                            span= '기본요금 : ₩' + (host.cost)


