body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.side{

    background-color: white;
    background-repeat: no-repeat;
    background-position: left; 
    position:fixed;
    margin-left: 60em;
    font-size: 1em;
    top: 2em;
  
    
    
    border-style: solid;
    border-width: thin;
}



#size{
  margin-top : 40px;
  
}
.dsize{
  width : 100%;
}

  .date{
    width:45%;
    margin-right:20px;
    float:left;
  }

#div_map{
  width:0%;
  height:100%;
  float:right;

}
 /*@media only screen and (max-device-width : 450px) {
   .h1, h2{
     font-size: 10em;
   }
 }



/*@media screen and (min-device-width : 760px){

}

@media screen and (min-device-width : 800px){

}*/*/

