body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.side{

    background-color: white;
    background-repeat: no-repeat;
    background-position: left; 
    position:fixed;
    margin-left: 105em;
    font-size: 0.3em;
    top: 2em;
  
    
    
    border-style: solid;
    border-width: thin;
}



#size{
  margin-top : 40px;
  
}

  .date{
    width:45%;
    margin-right:20px;
    float:left;
  }

#div_map{
  width:0%;
  height:100%;
  float:right;

}



/*@media screen and (min-device-width : 760px){

}

@media screen and (min-device-width : 800px){

}*/

