body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.side{

    background-color: white;
    background-repeat: no-repeat;
    background-position: left; 
    position:fixed;
    margin-left: 105em;
    font-size: 0.3em;
    top: 2em;
  
    
    
    border-style: solid;
    border-width: thin;
}



#size{
  margin-top : 40px;
  
}




/*@media screen and (min-device-width : 760px){

}

@media screen and (min-device-width : 800px){

}*/

