extends ../layout 

 
block main 
  .container 
    .row#row
      h1.page-header User List 
      
      table.table.table-striped.table-bordered 
        thead 
          tr 
            th Name 
            th Email 
            th moment 
            th 
        tbody 
          each user in users 
            tr 
              td 
                a(href='/users/#{user._id}')= user.name 
              td= user.email 
              td= moment(user.createdAt).format('YYYY-MM-DD HH:mm:ss') 
              td 
                a.btn.btn-xs.btn-default(href='/users/#{user._id}?_method=DELETE') Delete 
      a.btn.btn-primary(href='/users/new') Add list 
