extends ../layout 

 
block hero-unit 
  .container 
    h1 예약해주셔서 감사합니다.
 
block content 
    .row 
      .col-md-8 
        img(src = '/images/successHost.jpg' class="img-responsive")
        h2 예약이 완료되었습니다.
        a(href = '/') 목록보기
